<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AnglePanGestureRecognizer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>727233071EA7FECE00A9FDE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>727233101EA7FECF00A9FDE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5C65ECF1EA9705200619402</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
